# Practice Assignment :: 01

## How to import pandas and check the version?

In [27]:
import pandas as pd

In [28]:
pd. __version__

'1.0.1'

## import useful libraries

In [29]:
from pandas import Series

In [30]:
from pandas import DataFrame

## How to create a series from a list, numpy array and dict?

In [31]:
obj = pd.Series([1, 2, 3, 4, 5])
obj

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [32]:
import numpy as np
print(pd.Series(np.array([1, 2, 3, 4])))

0    1
1    2
2    3
3    4
dtype: int32

In [33]:
print(pd.Series({0: "Zohaib", 1: "Azam"}))

0    Zohaib
1      Azam
dtype: object

## How to convert the index of a series into a column of a dataframe?

## hint::
### Convert the series ser into a dataframe with its index as another column on the dataframe.

In [34]:
pd.DataFrame(obj)

   0
0  1
1  2
2  3
3  4
4  5

# How to combine many series to form a dataframe?

In [35]:
obj2 = pd.Series([11, 22, 33])
print(obj2)

pd.concat([obj, obj2], axis = 0)

0    11
1    22
2    33
dtype: int64

0     1
1     2
2     3
3     4
4     5
0    11
1    22
2    33
dtype: int64

In [36]:
pd.concat([obj, obj2], axis = 1)

   0     1
0  1  11.0
1  2  22.0
2  3  33.0
3  4   NaN
4  5   NaN

# How to calculate the number of characters in each word in a series?

In [37]:
alp = pd.Series(["Tom", "Dick", "Harry", "Chris"])
print(alp.apply(lambda x: len(x)))

0    3
1    4
2    5
3    5
dtype: int64

# How to filter valid emails from a series?

## Desired Output::
1    rameses@egypt.com

2            matt@t.com

3    narendra@modi.com

# How to replace missing spaces in a string with the least frequent character?

## Input::
###  my_str = 'dbc deb abed gade'
## Desired Output::
### 'dbccdebcabedcgade'  # least frequent is 'c'

# How to swap two rows of a dataframe?

In [38]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
index=['Ohio', 'Colorado', 'Utah', 'New York'],
columns=['one', 'two', 'three', 'four'])

data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [41]:
temp = data.loc["Ohio", :].copy()
temp2 = data.loc["Colorado", :].copy()

data.loc["Ohio", :] = temp2
data.loc["Colorado", :] = temp

print(data)

          one  two  three  four
Ohio        4    5      6     7
Colorado    0    1      2     3
Utah        8    9     10    11
New York   12   13     14    15

# How to get the positions where values of two columns match?

In [ ]:
np.where()

# How to replace both the diagonals of dataframe with 0?

# How to get the particular group of a groupby dataframe by key?

### This is a question related to understanding of grouped dataframe.

# Which column contains the highest number of row-wise maximum values?
#df.idxmax(axis= 1 or 0)

### Obtain the column name with the highest number of row-wise maximumâ€™s in df.